* {
  margin: 0;
  padding: 0;
}

html,
body {
  text-align: center;
  margin: 0;
  margin-top: 0;
  box-sizing: border-box;
  font: 16px sans-serif;
}

/* MAIN CONTAINER */

#background {
  background: url("img/pencil-850px.png") no-repeat top center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* CONTENT */

#content {
  min-height: 100vh;
  background-attachment: fixed;
}

h1 {
  font: 500 70px Monoton;
  text-shadow: 0.03em 0.03em 0.03em #fff;
  margin: 0;
  color: #F20075;
}

/* Choose grid size */

h2 {
  margin: 1em 0 0.25em;
  color: #F20075;
  font: 2em "Amatic SC", cursive;
  letter-spacing: 0.05em;
  text-shadow: 0.03em 0.03em #fff;
}

#size-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #028482;
  font-family: "Amatic SC", cursive;
  letter-spacing: 0.2em;
  font-weight: 600;
  text-shadow: 0.03em 0.03em #fff;
}

#height {
  display: flex;
  align-items: center;
  padding: 1em;
  text-align: center;
  font-size: 1.5em;
}

#width {
  display: flex;
  align-items: center;
  padding: 0 1em 1em;
  text-align: center;
  font-size: 1.5em;
}

#input-height,
#input-width {
  border: 0.2em solid #028482;
  border-radius: 0.5em;
  text-shadow: 0.03em 0.03em #fff;
  text-align: center;
  width: 5em;
  height: 0.8rem;
  padding: 0.3em 0.3em 0.3em 1.3em;
  margin: 0 0 0 1em;
  font: 600 "Amatic SC", cursive;
  color: #028482;
  background: transparent;
  box-shadow: 0.03em 0.03em #fff;
  opacity: 0.8;
}


/* Change input text to red when the value entered is higher than the max value of 50 */

#input-height:invalid,
#input-width:invalid {
  color: red;
}

#submit {
  width: 50%;
}

#input-submit {
  font: 700 1.2em "Amatic SC", cursive;
  color: #028482;
  letter-spacing: 0.4em;
  border: 0.1em solid #028482;
  border-radius: 1.5em;
  padding: 0 0 0.1em 0.4em;
  text-align: center;
  background: transparent;
  text-shadow: 0.03em 0.03em #fff;
  box-shadow: 0.03em 0.03em #fff;
}

#input-submit:hover {
  font-size: 1.3em;
  background-color: rgba(142, 196, 206, 0.7);
}

/* Pick a color */

#color-picker {
  -webkit-appearance: none;
  border: 0.2em solid #028482;
  width: 15em;
  height: 2.5em;
  border-radius: 1.5em;
  padding: 0;
}

/* To remove default properties of the input type color */
#color-picker::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0.5em;
}

#color-picker::-webkit-color-swatch {
  padding: 0;
  border: none;
  border-radius: 1.5em;
}

/* Design canvas */

#pixel-canvas {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 0 auto;
  background-color: #f5f5f5;
}

.canvas {
  border: 1px solid black;
}

tr {
  height: 1.5em;
}

td {
  width: 1.5em;
}

/* Clear table button */

#clear-table {
  font: 700 1.2em "Amatic SC", cursive;
  color: #028482;
  letter-spacing: 0.4em;
  border: 0.2em solid #028482;
  border-radius: 1.5em;
  text-align: center;
  background: rgba(158, 213, 223, 0.8);
  margin: 1em auto;
  padding: 0 0 0.1em 0.4em;
  text-shadow: 0.02em 0.02em #fff;
}

#clear-table:hover {
  font-size: 1.3em;
  color: #9ed5df;
  border: 3px solid #9ed5df;
  background: #028482;
  text-shadow: none;
}

/* INSTRUCTIONS */

#instructions {
  color: #fff;
  font: 200 1.5em "Amatic SC", cursive;
  text-shadow: 0.02em 0.02em 0.02em #9ed5df;
  list-style-type: none;
  padding: 0 0 1em;
  margin: 0;
}

/* FOOTER */

#footer {
  height: 3.2em;
  width: 100%;
  text-align: center;
}

#github-icon {
  font-size: 2.3em;
  color: #9ed5df;
}

#github-icon:hover {
  font-size: 2.8em;
  text-decoration: none;
  color: #a8e2ed;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */

@media screen and (max-width: 480px) {
  #background {
    background-position: bottom;
  }
  #height {
    padding: 0.3em;
  }
  #width {
    padding: 0.3em;
  }
  #submit {
    width: 100%;
    padding: 1em 0.3em 0.3em;
  }
  #instructions {
    font-size: 1.4em;
  }
}
